body{
    background-color: black;
    text-align: center;
}
.upper {
    margin-bottom: 20%; 
}
.heading {
    position: relative;
    font-size: 60px;
    margin-top: 15%;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    font-weight: 800;
    display: inline-block;
    background-image: url(https://64.media.tumblr.com/269a91e1a9ed40a5f6df4c35cf2de260/tumblr_pfg94z5tOh1uzwgsuo1_400.gifv);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
}
.h1-heading{
    font-weight: 900;
}
.h1-sub-heading {
    font-size: 75px;
    font-weight: 900;
}
.navbar-brand {
    background-image: url(https://64.media.tumblr.com/269a91e1a9ed40a5f6df4c35cf2de260/tumblr_pfg94z5tOh1uzwgsuo1_400.gifv) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color:transparent !important;
}


.watch-row {
   width: 85%;
   margin: auto;
   
}
.row-heading {
    margin-top: 7%;
    margin-bottom: 7%;
    background-image: url(https://64.media.tumblr.com/269a91e1a9ed40a5f6df4c35cf2de260/tumblr_pfg94z5tOh1uzwgsuo1_400.gifv) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color:transparent !important;
    font-family: 'Montserrat';
}
.watch1 {
    display: block;
    text-align: center;
    float: left;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
}
.watch-1-img {
    width: 100%
    
    
}





.watch2 {
    display: block;
    text-align: center;
    float: left;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
}
.watch-2-img {
    width: 100%;
    
}
.watch3 {
    display: block;
    text-align: center;
    float: left;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
}
.watch-3-img {
    width: 100%;
}






.watch-row2 {
    width: 85%;
    margin: auto;
 }

 .watch-4-img {
     width: 100%;
 }

 .watch-5-img {
     width: 100%;
 }
 .watch6 {
     display: block;
     text-align: center;
     float: left;
     width: 30%;
     color: white;
    font-family: 'Montserrat';
    font-weight: 700;
 }
 .watch-6-img {
     width: 100%;
 }





 .watch-row3 {
    width: 85%;
    margin: auto;
 }
 
 .watch-7-img {
     width: 100%;
 }
 
    .watch-8-img {
        width: 70.5%;
 }
 
 .watch-9-img {
     width: 100%;
 }

p:hover {
    text-decoration: underline;
}
h2:hover {
    text-decoration: underline;
}



#hover {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
  }
  #hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
  }
  #hover:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    
   
  }





  .bottom-footer {
    margin: 0px auto 0px auto;
    
    
  
  }
  

 